<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ton Duc Thang University Social network</title>
    <%- include partial/cdn.ejs %>
</head>
<body>
    <div class="profile-page">
        <div class="postoverlay"></div>
        <%- include partial/message-alert.ejs %>
        <%- include partial/responsiveMenu.ejs %>
        <%- include partial/topbar.ejs %>
        <%- include partial/header-leftbar.ejs %>

        <%- include partial/header-rightbar.ejs %>

        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <div class="content social-timeline">
                                <div class="">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <img class="social-wallpaper" id="social-banner-user" width="100%" src="images/logo-banner-default.jpg">
                                                <div class="profile-hvr">
                                                    <i class="icofont icofont-ui-edit p-r-10"></i>
                                                    <i class="icofont icofont-ui-delete"></i>
                                                </div>
                                            </img>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-4 col-xs-12">
                                            <div class="social-timeline-left">
                                                <div class="card">
                                                    <div class="social-profile">
                                                        <img class="img-fluid width-100" src="<%= mainUser.image %>" alt="" width="100%" id="user-main-social-network">
                                                        <div class="profile-hvr m-t-15">
                                                            <i class="icofont icofont-ui-edit p-r-10"></i>
                                                            <i class="icofont icofont-ui-delete"></i>
                                                        </div>
                                                    </div>
                                                    <div class="card-block social-follower">
                                                        <h4><%= mainUser.name %></h4>
                                                        <div class="row follower-counter">
                                                            <div class="col-4">
                                                                <button class="btn btn-primary btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="485">
                                                                    <i class="fa fa-user"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col-4">
                                                                <button class="btn btn-danger btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="2k">
                                                                    <i class="far fa-thumbs-up"></i>
                                                                </button>
                                                            </div>
                                                            <div class="col-4">
                                                                <button class="btn btn-success btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="90">
                                                                    <i class="fa fa-eye"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <% if (mainUser._id == user._id) { %>
                                                        <div class="">
                                                            <button type="button" data-toggle="modal" data-target="#modalEditImgUser" class="btn btn-outline-primary waves-effect btn-block"><i class="icofont icofont-ui-user m-r-10"></i>Chỉnh ảnh đại diện</button>
                                                        </div>
                                                        <% } %>
                                                        <div id="modalEditImgUser" class="modal fade" role="dialog">
                                                            <div class="modal-dialog">
                                                          
                                                              <!-- Modal content-->
                                                              <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title">Cập nhật ảnh đại diện</h4>
                                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row">
                                                                        <div class="col-md-12 image-col-modal-edit">
                                                                            <input type="file" id="img-upload-input" multiple hidden accept=".jpg, .jpeg, .png" onchange="readURLImgUser(this)" style="opacity: 1; position: initial;">
                                                                            <label for="img-upload-input" class="label-for-img-upload-input">Chọn hình ảnh đại diện</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12">
                                                                            <div class="addPreview">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Đóng</button>
                                                                    <button type="button" class="btn btn-primary" id="updateImgUserBtn" data-user="<%= mainUser._id %>" style="background-color: #797376;"><i class="fa fa-spinner fa-spin" style="display: none;"></i> Cập nhật</button>
                                                                </div>
                                                              </div>
                                                          
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="card-header-text">Thông tin cơ bản</h5>
                                                    </div>
                                                    <div class="card-block user-box">
                                                        <div class="media m-b-10">
                                                            <a class="media-left">
                                                                <i class="fas fa-school"></i>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="chat-header">Khoa</div>
                                                                <div class="text-muted social-designation social-main-faculty"><%= mainUser.faculty %></div>
                                                            </div>
                                                        </div>
                                                        <div class="media m-b-10">
                                                            <a class="media-left">
                                                                <i class="fas fa-graduation-cap"></i>
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="chat-header">Ngành</div>
                                                                <div class="text-muted social-designation social-main-major"><%= mainUser.major %></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-xl-9 col-lg-8 col-md-8 col-xs-12 ">

                                            <div class="card social-tabs">
                                                <ul class="nav nav-tabs md-tabs tab-timeline" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Dòng thời gian</a>
                                                        <div class="slide"></div>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-toggle="tab" href="#about" role="tab">Giới thiệu</a>
                                                        <div class="slide"></div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="tab-content">

                                                <div class="tab-pane" id="timeline">
                                                    <div class="row">
                                                        <div class="col-md-12 timeline-dot">
                                                            <div class="social-timelines p-relative">
                                                                <div class="row timeline-right p-t-35">
                                                                    <div class="col-2 col-sm-2 col-xl-1">
                                                                        <div class="social-timelines-left">
                                                                            <img class="img-radius timeline-icon" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-10 col-sm-10 col-xl-11 p-l-5 p-b-35">
                                                                        <div class="card">

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="f-30 text-muted text-center">2014</div>
                                                </div>

                                                <div class="tab-pane active" id="about">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                            
                                                                <div class="card-header">
                                                                    <h5 class="card-header-text">Thông tin cơ bản</h5>
                                                                    <% if (mainUser._id == user._id) { %>
                                                                        <button id="edit-btn-basic-information" type="button" class="btn btn-primary waves-effect waves-light f-right">
                                                                            <i class="far fa-edit"></i>
                                                                        </button>
                                                                    <% } %>
                                                                </div>
                                                                
                                                                <div class="card-block">
                                                                    <div id="view-info" class="row">
                                                                        <div class="col-lg-6 col-md-12">
                                                                            <form>
                                                                                <table class="table table-responsive m-b-0">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <th class="social-label b-none p-t-0">Họ và tên
                                                                                            </th>
                                                                                            <td class="social-user-name b-none p-t-0 text-muted"><span id="social-name-ajax"><%= mainUser.name %></span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="social-label b-none">Giới tính</th>
                                                                                            <td class="social-user-name b-none text-muted"><span id="social-gender-ajax"><%= mainUser.gender %></span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="social-label b-none">Ngày sinh</th>
                                                                                            <td class="social-user-name b-none text-muted"><span id="social-birth-ajax"><%= moment(mainUser.birth).format('DD/MM/YYYY') %></span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="social-label b-none">Khoa</th>
                                                                                            <td class="social-user-name b-none text-muted"><span id="social-faculty-ajax"><%= mainUser.faculty %></span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <th class="social-label b-none">Ngành</th>
                                                                                            <td class="social-user-name b-none text-muted"><span id="social-major-ajax"><%= mainUser.major %></span></td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div id="edit-info" class="row edit-info-basic-form" style="display: none;">
                                                                        <div class="col-lg-12 col-md-12">
                                                                            <form id="form-select-gender">
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" placeholder="Họ và tên" id="name-user" value="<%= mainUser.name %>">
                                                                                </div>
                                                                                <div class="input-group">
                                                                                    <div class="form-radio">
                                                                                        <div class="form-radio">
                                                                                            <label class="md-check p-0">Giới tính</label>
                                                                                            <div class="radio radio-inline">
                                                                                                <label>
                                                                                                    <input type="radio" name="radio" value="Nam" checked="checked">
                                                                                                    <i class="helper"></i>Nam
                                                                                                </label>
                                                                                            </div>
                                                                                            <div class="radio radio-inline">
                                                                                                <label>
                                                                                                    <input type="radio" name="radio" value="Nữ">
                                                                                                    <i class="helper"></i>Nữ
                                                                                                </label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="input-group">
                                                                                    <input type="date" id="birth-user" class="form-control" type="text" placeholder="Birth Date" value="<%= mainUser.birth %>">
                                                                                </div>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" placeholder="Khoa" id="faculty-user" value="<%= mainUser.faculty %>">
                                                                                </div>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" placeholder="Ngành" id="major-user" value="<%= mainUser.major %>">
                                                                                </div>
                                                                                <div class="text-center m-t-20" style="margin-top: 20px;">
                                                                                    <a href="javascript:;" id="edit-save-basic-user-information" data-user="<%= mainUser._id %>" class="btn btn-primary waves-effect waves-light m-r-20">Cập nhật</a>
                                                                                    <a href="javascript:;" id="edit-cancel" class="btn btn-primary-cancel-edit-basic-form waves-effect waves-light">Huỷ bỏ</a>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12">
                                                            <div class="card">
                                                                
                                                                <div class="card-header">
                                                                    <h5 class="card-header-text">Thông tin liên hệ</h5>
                                                                    <% if (mainUser._id == user._id) { %>
                                                                        <button id="edit-btn-contact-information" type="button" class="btn btn-primary waves-effect waves-light f-right">
                                                                            <i class="far fa-edit"></i>
                                                                        </button>
                                                                    <% } %>
                                                                </div>
                                                                

                                                                <div class="card-block">
                                                                    <div id="contact-info" class="row">
                                                                        <div class="col-lg-6 col-md-12">
                                                                            <table class="table table-responsive m-b-0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <th class="social-label b-none p-t-0">Số điện thoại</th>
                                                                                        <td class="social-user-name b-none p-t-0 text-muted" id="social-contact-phone-edit"><%= mainUser.phone %></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th class="social-label b-none">Địa chỉ</th>
                                                                                        <td class="social-user-name b-none text-muted" id="social-contact-address-edit"><%= mainUser.address %></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                    <div id="edit-contact-info" class="row edit-info-contact-form" style="display: none;">
                                                                        <div class="col-lg-12 col-md-12">
                                                                            <form>
                                                                                <div class="input-group">
                                                                                    <input type="text" class="form-control" placeholder="Số điện thoại" id="social-phone-contact-edit" value="<%= mainUser.phone %>">
                                                                                </div>
                                                                                <div class="md-group-add-on">
                                                                                    <textarea rows="5" cols="5" class="form-control" placeholder="Địa chỉ..." id="social-address-contact-edit"><%= mainUser.address %></textarea>
                                                                                </div>
                                                                                <div class="text-center m-t-20" style="margin-top: 20px;">
                                                                                    <a href="javascript:;" id="edit-save-contact-user-information" data-user="<%= mainUser._id %>"  class="btn btn-primary waves-effect waves-light m-r-20">Cập nhật</a>
                                                                                    <a href="javascript:;" id="edit-cancel" class="btn btn-primary-cancel-edit-contact-form waves-effect waves-light">Huỷ bỏ</a>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>

        <!-- Back to top button -->
        <a id="back-to-top-button"></a>
    </div>

    <script src="/javascripts/main.js"></script>

</body>

</html>